 version: 2.1
 orbs:
   node: circleci/node@3.0.0
   docker: circleci/docker@1.2.1
 jobs:
   build-and-test:
    executor: node/default
    steps:
     - checkout
     - run: cd client && npm install
     - run: cd client && npm test
     - run: cd server && npm install 
   deploy:
    executor: docker/docker
    steps:
     - checkout
     - run: sudo docker login bhajduk
     - run: cd client && sudo docker build . -t bhajduk/lab2:client
     - run: cd client && sudo docker push bhajduk/lab2:client
     - run: cd server && sudo docker build . -t bhajduk/lab2:server
     - run: cd server && sudo docker push bhajduk/lab2:server
 workflows:
   build-and-test-deploy:
    jobs:
     - build-and-test:
       filters:
         branches:
           only:
             - master
     - deploy
