 version: 2.1
 orbs:
   node: circleci/node@3.0.0
   heroku: circleci/heroku@1.0.1
 jobs:
   build-and-test:
    executor: node/default
    steps:
     - checkout
     - run: cd client && npm install
     - run: cd client && npm test
     - run: cd server && npm install
     - run: cd server && npm test
   deploy:
    executor: heroku/default
    steps:
     - checkout
     - heroku/deploy-via-git
 workflows:
   build-test-and-deploy:
    jobs:
     - build-and-test:
       filters:
         branches:
           only:
             - master
     - deploy:
       requires:
         - build-and-test:
           filters:
             branches:
               only:
                 - master
